# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
.vs/
TestResults/

# Angular
node_modules/
dist/
.tmp/
.angular/
coverage/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
.idea/
*.iml
*.swp
*.bak
*.tmp
*.orig
*.rej

# Ignore local settings
local.settings.json
